.leave-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.leave-main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
}

form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

select,
input[type='text'] {
  font-size: 1rem;
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

button[type='submit'] {
  font-size: 1rem;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #0069d9;
}


/* 888888888888888888888 */

.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker__input-container {
  display: block;
  width: 100%;
}

.react-datepicker__input-container input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border: 1px solid #0077cc;
}

.react-datepicker__month-container {
  width: 240px;
}

.react-datepicker__month {
  margin: 0;
  padding: 0;
  list-style: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 1px;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #0077cc;
  color: #fff;
}

.react-datepicker__day--selected {
  background-color: #0077cc;
  color: #fff;
}

.react-datepicker__day--today {
  font-weight: bold;
}

.react-datepicker__header {
  background-color: #0077cc;
  color: #fff;
  padding: 5px;
}

.react-datepicker__current-month {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.react-datepicker__navigation--previous {
  border-right-color: #fff;
}

.react-datepicker__navigation--next {
  border-left-color: #fff;
}
